target
xmlToRdf2.iml
actual.ttl
testFiles/testSparqlTransform2/intermediary/
actualObject.n3
actualFast.n3
actualObject.jsonld
actualSesame.jsonld
actualFast.ttl
dependency-reduced-pom.xml
*.iml
javadoc.json
javadoc.md
brregOutput
